
// Body
$body-bg: #f5f8fa;
$white: white;
$body-black-bg: #12000e;
$black : black;
$red: #ff0067;
$grey: #e9e9e9;
$yellow: #e5e642;
$violet: #7d00ff;

//$white-background = "../../public/img/fond_desk_content.png";


// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-reg: 'SansProReg';
$font-bold: 'SansProBold';
$font-light: 'SansProLight';
$font-italic: 'SansProItalic';
@font-face {
  font-family: "SansProReg";
  src: url('../../../public/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: "SansProBold";
  src: url('../../../public/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: "SansProLight";
  src: url('../../../public/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: "SansProItalic";
  src: url('../../../public/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}



$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

