@import "variables";
body{
  font-family: $font-reg, Helvetica, Arial, sans-serif;
  margin:0px;
  cursor: url('../../../public/img/cursor_violet.png'),pointer;
}
h2{
  font-family: $font-reg, Helvetica, Arial, sans-serif;
  margin-top : 3%;
}
span{
  line-height: 1em;

}
.color-white{
  margin-top:5%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.checkmark{
  width: 10%;
  height: auto;
  margin-left: 40%;
}
.block-preview{
  float: left;
  width: 100%;
  height: auto;
}
.lab-project-link {
  h3{
    color: $white;
  }
}
.hidden{
  display: none;
}
.red-color{
  color: $red;
  font-size: 54px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
}
.yellow-color{
  color: $yellow;
  font-size: 54px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
}
.violet-color{
  color: $violet;
}
.color-white{
  color: $white;
}
.white-background{
  width:100%;
  height: 100%;
  background: url("../../../public/img/fond_desk_content_cprs.jpeg") no-repeat center center;
  background-attachment: fixed;
}
.black-background{
  width:100%;
  height: 100%;
  background: url("../../../public/img/fond_desk_lab_cprs.jpeg") no-repeat center center;
  background-attachment: fixed;
  .home-section-title-wrap a{
    color: $white!important;
    text-decoration: none;
    &:focus{
      text-decoration: none;
    }
    &:active{
      text-decoration: none;
    }
  }
}

.body-black-bg{
  background-color: $black;
  color: $white;

  a: {
    color: $white;
  }
}

#nav-default-logo, #nav-lab-logo{
  width: max-content;
  float: left;
}
#nav-lab-logo img{
  width: 70%;
  height: auto;
  margin-top: 10px;
}
#side-nav-home-logo{
  position: fixed;
  top: 62%;
  left: -5%;
  width: auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#side-nav-labs-logo{
  position: fixed;
  top: 62%;
  left: -5%;
  width: auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.nav-logo{
  width: 30%;
  height: 30px;
  margin-top: 0;
  float: right;
}
img#nav-default-logo-img {
  margin-top: 10px!important;
  float: left!important;
}
#cnv{
  width: 100%;
  height: 100%;
}
.cnv-zero-layer{
  z-index: 0;
  position: absolute;
}
.cnv-second-layer{
  z-index: 2;
  position: absolute;

}

/* nav bar */
.navbar{
  position: fixed;
  top: 0px;
  width:80%;
  padding-top: 1.7%;
}
#nav-burger:hover{
  stroke: black!important;
  cursor: pointer;
}
.st0:hover{
  color: black;
  stroke: black;
}
.displayed-nav{
  position: absolute;
  top: 0px;
  z-index:4;
  width: 100vw;
  height: 100vh;
  display: block;
  text-align: center;
}
.grey-nav{
  color: black!important;
  background-color:$grey;
  box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
  -webkit-box-shadow:0px -1px 13px #6a6868;
  transition: box-shadow 0.3s ease-in-out;


  }



.black-nav{
  color:$white;
  background-color: $black;
  -webkit-box-shadow: 0px -1px 13px $red;
  a {
    color: $white!important;
    &:hover{
      color: $yellow!important;
    }
  }
}
.display-logo-bg{
  width: 100%;
  height: 14%;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transition: height 1s; 
  transition: height 1s;
}
#display-nav li{
  list-style-type: none;
}
#display-nav a:hover{
  transition: 100ms;
  color: $red!important;
}
#display-nav-bg{
  width: 100%;
  height: 100%;
}
.showed-nav-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $grey;
}
.hidden-nav-bg{
  display: none;
}
.displayed-nav a{
  color:#333;
  font-size: 50px;
  text-decoration: none;
  transition-property: color,font-size;
  transition-duration: 0.9s;
  &:hover{
    color: $red;
    font-size: 51px;
    transition-property:color,font-size;
    transition-duration: 0.5s;

  }
}
.hidden-nav{
  display: none;
}
.display-nav-close-btn{
  float: right;
  color: $red;
  font-size: 32px;
}
.home-section-link{
  transition: 100ms;
  font-size: 54px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
}
.labs-section-link{
  transition: 100ms;
  font-size: 54px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
  color: white;
}
.labs-section-link-active{
  color: $yellow!important;
}
.home-section-link:hover{
  transition: 100ms;
  color: $violet!important;
  cursor: pointer;
  tranition-property:color;
  transition-duration: 400ms;
}
.home-section-link-active{
  transition: 100ms;
  color: $violet!important;
  tranition-property:color;
  transition-duration: 500ms;
}
.page-content{
  margin-top:80px;
  min-height: 100vh;
}
.margin-top-fifty{
  margin-top: 50px;
}
.margin-top-twenty{
  margin-top: 20px;
}
.margin-top-hundred{
  margin-top: 200px;
}
/* image & img transition*/
.image { width: 100%}
.image-loaded { opacity: 1; }
.work-link-focus{
  position: absolute;
  z-index: 3;
  top: 300px;
  left: 300px;
}
.work-link a {
  color: $black;
  text-decoration: none;
}
.invisible-bg{
  background: transparent!important;
}
.input-warning{
  transition: 100ms;
  border-color: #ff0066!important;
}
.arrow-back{
  width: 7%;
  opacity: 0.5;
  padding-left: 0%;
  animation-name: apparitionMoveLeft;
  animation-duration: 2s;
  transition-property: width,opacity;
  transition-duration: 500ms;
  &:hover{
  cursor: pointer;
    width: 8%;
    opacity: 1;
    transition-property: width,opacity;
    transition-duration: 200ms;

  }
}
@keyframes apparitionMoveLeft{
  0%   {padding-left: 15%;}
  100%   {padding-left: 0%;}
}

/* #############   RESPONSIVE   ############# */

@media (min-width: 400px) {
  .nav-burger{
    float: right;
    margin-top: 10px;
    width: 5%;
  }

  .home-section-title-wrap{
    float: left;
    a{
      &:active{
        text-decoration: none;
      }
      &:focus{
        text-decoration: none;
      }
    }
  }

  .close-nav-btn {
    width: 2%;
    -webkit-transition: 100ms;
    transition: 100ms;
    position: fixed;
    right: 18%;
    top: 5%;
  }

  #side-nav-wrap{
    display: none;
  }
  #side-nav-responsive{
    display: block;
    width: 40%;
    float: left;
  }
  .displayed-nav {
    left: -13%;
    padding-top: 10%;
    a{
      font-size: 50px;
      line-height: 1em;
      font-variant: all-small-caps;
    }
  }


}

@media (max-width:400px) {
  .container{
    padding: 10%;
  }
  .display-logo-bg{
    height: 9%;
  }

    .nav-burger {
      float: right;
      margin-top: 20px;
      width: 10%;
  }
  .displayed-nav {
    left: -13%;
    padding-top: 10%;
    font-variant:all-small-caps;
    a{
      font-size: 50px;
    }
  }
  body{
    line-height: 1.1;

  }
  h2{
    display:none;
  }
  .margin-top-hundred{
    margin-top: 100px;
  }
  .home-section-title-wrap{

  }
  .arrow-back{
    width: 10%;
    opacity: 0.5;
    transition-property: width,opacity;
    transition-duration: 200ms;
    margin-top: 10px;
    &:hover {
      width: 11%;
      opacity: 1;
      transition-property: width,opacity;
      transition-duration: 500ms;
    }
  }

}
/* Larger than tablet */
@media (max-width: 750px) {
  .navbar {
    position: fixed;
    top: 0px;
    width: 80%;
    margin-right: 10%;
  }
  .display-logo-bg{
    height: 9%;
  }

  h4{
    text-align: justify;
    font-size: 1.2em;
  }
  h2{
    text-align: left;
    font-size: 3.5;
  }
  p{
    text-align: justify;
    font-size: 1em;
    margin-top: 10px;
  }
.home-section-link{
  line-height:1.1;
}
  #side-nav-home-logo{
    display: none;
  }
  #side-nav-labs-logo{
    display: none;
  }
  #nav-default-logo{
    width: 30%;
  }
  .nav-logo{
    float: right;
    width: 104%;
    margin-right: 27%;
  }
  .nav-burger {
    float: right;
    margin-top: 10px;
    width: 10%;
  }
  .nav-burger:hover{
    cursor: pointer;
  }
  .home-section-title-wrap{
    float: left;
  }
  .close-nav-btn{
    width: 5%;
    -webkit-transition: 100ms;
    transition: 100ms;
    position: fixed;
    right: 20%;
    top: 5%;

  }
  .close-nav-btn:hover{
    cursor: pointer;
    transition: 100ms;
  }
  #side-nav-wrap{
    display: none;
  }
  #side-nav-responsive{
    display: block;
    width: 30%;
    margin-left: 17%;
    float: left;
  }
  .displayed-nav {
    left: -14%;
    padding-top: 31%;
    a{
      font-size: 50px;
    }
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #nav-burger {
    float: right;
    width: 3%;
    margin-top: 10px;
    margin-right: 20%;
  }

  .nav-logo{
    width: 30%;
    height: 30px;
    margin-top: 0;
    float: right;
  }
  img#nav-default-logo-img {
    margin-top: 10px!important;
    float: left!important;
  }
  #side-nav-wrap {
    display: block;
  }
  #side-nav-responsive {
    display: none;
  }
.arrow-back{
  width: 5%;
  opacity: 0.4;
  transition-property: width,opacity;
  transition-duration: 500ms;
  &:hover {
    width: 6%;
    opacity: 1;
    transition-property: width,opacity;
    transition-duration: 200ms;
  }
}
  .displayed-nav {
    left: -24%;
    padding-top: 10%;
    a{
      font-size: 50px;
    }
  }
  h4{
    text-align: justify;
    font-size: 2em;
  }
  h2{
    text-align: justify;
    font-size: 3.5;
  }
  p{
    text-align: justify;
  }
}

@media (max-width: 1200px){
  .display-nav{
    left:-24%;
  }
  .nav-burger{
    float: right;
  }
  .nav-logo{

    margin-top: 10px;
  }
  h4{
    text-align: justify;
    font-size: 1.5em;
  }
  h2{
    text-align: left;
    font-size: 3.5;
  }
  p {
    text-align: justify;
  }

}


