@import "variables";

body{
  font-family: $font-reg, Helvetica, Arial, sans-serif;
  margin:0px;
  cursor: url('../../../public/img/cursor_violet.png'),pointer;
}


#web,#le-lokart,#premier-work,#design,#tips,#techno,#culture,#life,#trend,#lelokart,#postup,#bonne-app,#so-cult,#o32,#bike,#creative,#creative-i,#creative-iv,#creative-v,#fresh,#mondrian,#photo,#graphisme,#fest,#port,#archi,#land,#report,#nat{
  font-variant: all-small-caps;
  font-size: 1.9em;
  font-weight: bold;

}
a{
  text-decoration: none!important;
  text-underline: none!important;
}

h2{
  font-family: $font-light, Helvetica, Arial, sans-serif;
  margin-top : 3%;
}
span{
  line-height: 1em;
}
::selection {
  background: $violet;
  color: white;
}

footer{
  background-color: #151515;
  opacity: 0.75;
  color: #4c4c4c;
  font-size: 1em;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  text-decoration: none!important;
  margin-top: 100px!important;
}
.u-full-width{
  padding: 6px!important;

}
img#red-burger{
  padding: 0px!important;
  margin-top: 10px!important;


}
img#yellow-burger{
  padding: 0px!important;
  margin-top: 10px!important;

}
.work-link {
  font-size:1em;
  margin-top: 20px;
}
.color-white{
  margin-top:5%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkmark{
  width: 10%;
  height: auto;
  margin-left: 40%;
}
p.red::selection {
  background: #ffb7b7;
}
.block-preview{
  float: left;
  width: 100%;
  height: auto;
}
.lab-project-link {
  h3{
    color: $white;
  }
}
.hidden{
  display: none;
}
.red-color{
  color: $red;
  font-size: 47px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
}
.yellow-color{
  color: #c2c2c2;
  opacity: 0.6;
  font-size: 47px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
}
.violet-color{
  color: $violet;
}
.color-white{
  color: $white;
}
.white-background{
  width:100%;
  height: 100%;
  background: url("../../../public/img/fond_desk_content_cprs.jpeg") no-repeat center center;
  background-attachment: fixed;
}
.black-background{
  width:100%;
  height: 100%;
  background: url("../../../public/img/background_labo.jpeg") no-repeat center center;
  background-attachment: fixed;
  .home-section-title-wrap a{
    color: $white!important;
    text-decoration: none;
    &:focus{
      text-decoration: none;
    }
    &:active{
      text-decoration: none;
    }
  }
}

.body-black-bg{
  background-color: $black;
  color: $white;

  a: {
    color: $white;
  }
}
#nav-lab-logo{
  float: left;
  width: auto!important;
  //width: -moz-fit-content;//
  display: table;
}
#nav-default-logo, #nav-lab-logo{
  float: left;
  width: auto!important;
  //width: -moz-fit-content;//
  display: table;
}
#nav-lab-logo img{
  width: 85px;
  height: 100%;
  margin-top: 10px!important;
}
a#side-nav-responsive-labs-logo{
  width:180%;
}
a#side-nav-responsive-home-logo {
  /* background-color: red; */
  /* color: blue; */
  opacity: 0.2;
}
#side-nav-home-logo{
  position: fixed;
  top: 29%;
  left: -5%;
  width: 20% !important;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#side-nav-labs-logo{
  position: fixed;
  top: 31%;
  left: -5%;
  width: 20%!important;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.nav-logo{
  width: auto!important;
  width: -moz-max-content;
  background-color: #e9e9e9;
  padding: 6px;
  height: 37px!important;
  margin-top: 7px!important;
  float: left!important;
}

img#nav-default-logo-img {
  margin-top: 7px!important;
  float: left!important;
  height: 50px!important;
}
#cnv{
  width: 100%;
  height: 100%;
}
.cnv-zero-layer{
  z-index: 0;
  position: absolute;
}
.cnv-second-layer{
  z-index: 2;
  position: absolute;

}

/* nav bar */
.navbar{
  position: fixed;
  top: 0px;
  z-index: 2;
  width:80%;
}
#nav-burger:hover{
  stroke: black!important;
  cursor: pointer;
}
.st0:hover{
  color: black;
  stroke: black;
}
.displayed-nav{
  position: absolute;
  top: 0px;
  z-index:4;
  width: 100vw;
  height: 100vh;
  display: block;
  text-align: center;
}
.grey-nav{
  color: black!important;
  background-color: #e9e9e9;
  transition: box-shadow 0.3s ease-in-out;


}



.black-nav{
  color:$white;
  background-color: $black;

  a {
    color: $white!important;
    &:hover{
      color: $yellow!important;
    }
  }
}
.display-logo-bg{
  width: 100%;
  height: 68px!important;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  -webkit-transition: height 1s;
  transition: height 1s;
}
#display-nav li{
  list-style-type: none;
}
#display-nav a:hover{
  transition: 100ms;
  color: $violet!important;
}
#display-nav-bg{
  width: 100%;
  height: 100%;
}
.showed-nav-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $grey;
}
.hidden-nav-bg{
  display: none;
}
.displayed-nav a{
  color:#333;
  font-size: 50px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.9s;
  &:hover{
    color: $violet;
    transition-property:color;
    transition-duration: 200ms;

  }
}
.hidden-nav{
  display: none;
}
.display-nav-close-btn{
  float: right;
  color: $red;
  font-size: 32px;
}
.home-section-link{
  transition: 100ms;
  font-size: 54px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
}
.labs-section-link{
  transition: 100ms;
  font-size: 54px;
  font-family: $font-bold, Helvetica, Arial, sans-serif;
  color: white;
}
.labs-section-link-active{
  color: $yellow!important;
}
.home-section-link:hover{
  transition: 100ms;
  color: $violet!important;
  cursor: pointer;
  transition-property:color;
  transition-duration: 400ms;
}
.home-section-link-active{
  transition: 100ms;
  color: $violet!important;
  transition-property:color;
  transition-duration: 500ms;
}
.page-content{
  margin-top:80px;
  min-height: 60vh;
}
.margin-top-fifty{
  margin-top: 0px;
}
.margin-top-twenty{
  margin-top: 20px;
}
.margin-top-hundred{
  margin-top: 215px;
}
/* image & img transition*/
.image { width: 100%}
.image-loaded { opacity: 1; }
.work-link-focus{
  position: absolute;
  z-index: 3;
  top: 300px;
  left: 300px;
}
.work-link a {
  color: $black;
  text-decoration: none;
}
.invisible-bg {
  background: transparent !important;
  font-family: $font-reg, "Helvetica Neue", "arial";
}
.input-warning{
  transition: 100ms;
  border-color: #ff0066!important;
}
.arrow-back{
  width: 31px!important;
  opacity: 0.5;
  padding-left: 0%;
  animation-name: apparitionMoveLeft;
  animation-duration: 2s;
  transition-property: width,opacity;
  transition-duration: 500ms;
  &:hover{
    cursor: pointer;
    width: 35px;
    opacity: 1;
    transition-property: width,opacity;
    transition-duration: 200ms;

  }
}
@keyframes apparitionMoveLeft{
  0%   {padding-left: 15%;}
  100%   {padding-left: 0%;}
}

/* #############   RESPONSIVE   ############# */

@media (min-width: 400px) {
  .nav-burger{
    float: right;
    margin-top: 10px;
    width: 25px;
  }

  .home-section-title-wrap{
    float: left;
    a{
      &:active{
        text-decoration: none;
      }
      &:focus{
        text-decoration: none;
      }
    }
  }

  .close-nav-btn {
    width: 24px;
    -webkit-transition: 100ms;
    transition: 100ms;
    position: fixed;
    right: 10%;
    top: 20px;
  }

  #side-nav-wrap{
    display: none;
  }
  #side-nav-responsive{
    display: block;
    width: 40%;
    float: left;
  }
  .displayed-nav {
    left: -13%;
    padding-top: 23%;
    a{
      font-size: 50px;
      line-height: 1em;
      font-variant: all-small-caps;
    }
  }



}

@media (max-width:400px) {
  .container{
    padding: 6%;
  }
  #nav-lab-logo img {
    width: 85px;
    height: auto;
    margin-top: 6px !important;
  }

  footer{

    text-align: center;

  }
.navbar {
  position: fixed;
  width: 84%;
  padding-top: 4px;
  margin-right: 1px;
}
  .display-logo-bg{

  }
  .nav-logo{
    margin-top: 7px!important;
  }
  #nav-lab-logo{
    float: left;
    width: auto!important;
    blackground-color:black;
    padding: 5px;
    //width: -moz-fit-content;//
    display: table;
  }
  .nav-burger {
    float: right;
    margin-top: 10px;
    width: 25px;
  }
  .displayed-nav {
    left: -13%;
    padding-top: 10%;
    font-variant:all-small-caps;
    a{
      font-size: 50px;
    }
  }
  body{
    line-height: 1.1;
  }
  h2{
    display:none;
  }
  .margin-top-hundred{
    margin-top: 100px;
  }
  .home-section-title-wrap{
    font-size: 1em;

  }
  .arrow-back{
    width: 10%;
    opacity: 0.5;
    transition-property: width,opacity;
    transition-duration: 200ms;
    margin-top: 10px;
    &:hover {
      width: 11%;
      opacity: 1;
      transition-property: width,opacity;
      transition-duration: 500ms;
    }
  }

}
/* Larger than tablet */
@media (max-width: 750px) {
  .navbar {
    position: fixed;
  }
  footer{
text-align: center;
    padding-top: 12px;

  }

  h4{
    text-align: left;
    font-size: 1.2em;
  }
  h2{
    text-align: left;
    font-size: 31.5px!important;
  }
  p{
    text-align: justify;
    font-size: 1em;
    margin-top: 10px;
  }
  .home-section-link{
    line-height:1.1;
  }
  #side-nav-home-logo{
    display: none;
  }
  #side-nav-labs-logo{
    display: none;
  }
  #nav-default-logo{
    width: 30%;
  }
  .nav-logo{
    float: left!important;
    width: 30%;


  }
  .nav-logo{

  }
  #nav-lab-logo{
    float: left;

    //width: -moz-fit-content;//
    display: table;
  }
  .nav-burger {
    float: right;
    margin-top: 10px;
    width: 25px;
  }
  .nav-burger:hover{
    cursor: pointer;
  }
  .home-section-title-wrap{
    float: left;
  }
  .close-nav-btn {
    width: 24px;
    -webkit-transition: 100ms;
    transition: 100ms;
    position: fixed;
    right: 10%;
    top: 3.6%;
  }
  .close-nav-btn:hover{
    cursor: pointer;
    transition: 100ms;
  }
  #side-nav-wrap{
    display: none;
  }
  #side-nav-responsive{
    display: block;


    float: left;
  }
  .displayed-nav {
    left: -9%;
    padding-top: 48%;
    a {
      font-size: 50px;
    }

    img#red-burger{
      padding: 0px!important;

    }
    img#yellow-burger{
      padding: 0px!important;

    }
    .white-background{
      width: 100%;
      height: 100%;
      background: url("../../../public/img/fond_phone_content.png")no-repeat center center;

    }
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #nav-burger {
    float: right;
    width: 25px;
    margin-top: 10px;
    margin-right: 20%;
  }

  .nav-logo{
    width: 30%;
    height: 30px;

    float: right;
  }
  .close-nav-btn {
    right: 17.6%;;

  }

  #side-nav-wrap {
    display: block;
  }
  #side-nav-responsive {
    display: none;
  }
  .arrow-back{
    width: 5%;
    opacity: 0.4;
    transition-property: width,opacity;
    transition-duration: 500ms;
    &:hover {
      width: 6%;
      opacity: 1;
      transition-property: width,opacity;
      transition-duration: 200ms;
    }
  }
  .displayed-nav {
    left: -24%;
    padding-top: 17%!important;
    a{
      font-size: 50px;
    }
  }
  h4{
    text-align: justify;
    font-size: 2em;
  }
  h2{
    text-align: justify;
    font-size: 3.5;
  }
  p{
    text-align: justify;
  }
}

@media (max-width: 1200px){
  .display-nav{
    left:-24%;
  }
  #side-nav-responsive-labs-logo{
    display:none!important;

  }
  .white-background{
    width: 100%;
    height: 100%;
    background: url("../../../public/img/fond_contenu_ipad.png") no-repeat center center;

  }

  #side-nav-home-logo{
    display: none!important;
  }
  .nav-burger{
    float: right;
  }
  *html .nav-logo{
    width: 80%;
  }
  .nav-logo{
    width: 70%;
  }
  h4{
    text-align: justify;
    font-size: 1.5em;
  }
  h2{
    text-align: left;
    font-size: 3.5;
  }
  p {
    text-align: justify;
  }

}


